@use 'colors' as *;
div.equipment {
  .align-center {
    text-align: center;
  }
  table {
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #eaeaea;
        }
        &:hover {
          background-color: #840107;
          color: #fff;
          
          input {
            color: #fff;
          }
          select {
            color: #fff;

            option {
              background-color: #840107;
            }

          }
        }
        input {
          & {
            text-align: center;
            width: 40px;
            height: 20px;
            border: none;
          }
    
          &[type="number"] {
            -webkit-appearance: auto; /* For Chrome, Safari, and Edge */
            appearance: auto;
            width: 60px;
            padding-left: 15px;
          }
    
          &[type="number"]::-webkit-inner-spin-button,
          &[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: auto; /* For WebKit browsers */
            margin: 0;
          }
        }
        select {
          border: none;
          border-radius: 0;
        }
      }
    }
  }
  .item-img {
    background-color: rgba(0, 0, 0, 0.4);
    height: 20px;
    width: 20px;
  }
  .item-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  .encumbrance-bar {
    width: 100%;
    > div {
      height: 24px;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .encumbrance-bar-names,
    .encumbrance-bar-values {
      .bar-label {
        display: flex;
        justify-content: flex-end;
      }
    }
    .encumbrance-bar-display {
      border: 1px solid #777;
      padding: 2px;
      .bar-segment:not(:last-child) {
        border-right: 1px solid black;
      }
      .bar-segment {
        .percent-segment-filled {
          height: 100%;
          background-color: rgba(0, 121, 0, 0.8);
        }
        .burdened {
          background-color: rgba(170, 96, 0, 0.8);
        }
        .overloaded {
          background-color: rgba(163, 8, 0, 0.8);
        }
        .maxload {
          background-color: rgba(75, 0, 0, 0.8);
        }
      }
    }
  }
  .equipmentSearchContainer {
    width: 20%;
    display: inline-flex;
    align-items: center;
    padding: 0 4px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-size: var(--font-size-14);
    i {
      margin-right: 4px;
    }
    #equipmentSearch {
      border: none;
      outline: none;
      background: rgba(0, 0, 0, 0);
    }
    #equipmentSearch:focus {
      box-shadow: none;
    }
  }
  #equipmentFilter {
    border: none;
    font-size: var(--font-size-14);
  }
  #equipmentFilter:focus {
    box-shadow: none;
  }
  .equipment-table {    
    .item {
      display: none;
    }
    .active {
      display: table-row;
    }
  }
}
