$sheet-crimson: #840701;
$sheet-dark-crimson: #6c0300;
$sheet-darker-crimson: #490000;
$sheet-positive: #4fa04d;
$sheet-negative: #c11f1f;
$sheet-gray: #adadad;

$transparent-black: rgba(0, 0, 0, 0.5);

$sheet-header-color: $sheet-darker-crimson;
$sheet-scrollbar-color: $sheet-dark-crimson;
