@use 'mixins';

.height-100 {
  height: 100%;
}

.d-flex {
  display: flex;
  &--with-separators {
    > * {
      padding-right: 10px;
      margin-right: 10px;
      border-right: solid 1px rgba(0, 0, 0, 0.2);
    }
    > *:last-child {
      padding-right: 0px;
      margin-right: 0px;
      border-right: unset;
    }
  }
  &--space-between {
    justify-content: space-between;
  }
  &--center-content {
    justify-content: center;
  }
  &--center-items {
    align-items: center;
  }
  &--gap-tiny {
    @include mixins.flex-gap(2px);
  }
  &--gap-small {
    @include mixins.flex-gap(3px);
  }
  &--gap-medium {
    @include mixins.flex-gap(10px);
  }
  &--column {
    flex-direction: column;
  }
}

.titled-section {
  margin-bottom: 10px;
  &__title {
    margin: 0;
    margin-bottom: 8px;
    border: none;
    color: #191813;
  }
}

.top-margin-small {
  margin-top: 5px !important;
}
.bottom-margin-small {
  margin-bottom: 5px !important;
}
.top-margin-medium {
  margin-top: 10px !important;
}
.bottom-margin-medium {
  margin-bottom: 10px !important;
}

@for $i from 0 through 10 {
  .flex-#{$i} {
    flex: $i;
  }
}
