<nav class="sheet-tabs tabs" data-group="primary">
  {{#each tabs as |tab|}}
  <a class="item active" data-tab="{{tab.name}}">
    <div class="flex-1">{{localize tab.label}}</div>
  </a>
  {{#unless @last}}
  <img class="dividing-diamond" src="systems/mythras/assets/sheet/diamond.png" />
  {{/unless}}
  {{/each}}
</nav>