<form class="{{cssClass}} item-sheet equipment-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50" />
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="equip-section">
      <div class="equipment-core">
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Storage'}}</h3>
            <select name="system.storage" data-dtype="String">
              <option value="Unknown">{{localize 'MYTHRAS.No_Storage'}}</option>
              {{selectOptions availableStorage valueAttr="id" labelAttr="name" selected=system.storage localize=true }}
            </select>
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.ENC'}}</h3>
            <input type="text" name="system.encumbrance" value="{{system.encumbrance}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Quantity'}}</h3>
            <input type="number" name="system.quantity" value="{{system.quantity}}" step="1" min="0" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.AP'}}</h3>
            <input type="text" name="system.ap" value="{{system.ap}}" />
          </div>
          <div>/</div>
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.HP'}}</h3>
            <input type="text" name="system.hp" value="{{system.hp}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Value'}}</h3>
            <input type="text" name="system.value" value="{{system.value}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="equip-section">
      <div class="weapon-core">
        <div class="weapon-core-section">
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Damage'}}</h3>
            <input type="text" name="system.damage" value="{{system.damage}}" />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.DM'}}</h3>
            <input type="checkbox" name="system.damageModifier" {{checked system.damageModifier}} />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Size'}}</h3>
            <select id="char-change" name="system.size" data-dtype="String">
              {{selectOptions weaponSizeLabels selected=system.size valueAttr="value" labelAttr="label" localize=true}}
            </select>
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Reach'}}</h3>
            <select id="char-change" name="system.reach" data-dtype="reach">
              {{selectOptions weaponReachLabels selected=system.reach valueAttr="value" labelAttr="label" localize=true}}
            </select>
          </div>
        </div>
        <div>
          <h3 class="core-info">{{localize 'MYTHRAS.Combat_Effects'}}</h3>
          <input type="text" name="system.combat-effects" value="{{system.combat-effects}}" />
        </div>
        <div>
          <h3 class="core-info">{{localize 'MYTHRAS.Traits'}}</h3>
          <input type="text" name="system.traits" value="{{system.traits}}" />
        </div>
      </div>
    </div>
    <h2>{{localize 'MYTHRAS.Description'}}</h2>
    <div class="desc" data-group="primary">
      {{ editor descriptionHTML target="system.description" button=true editable=editable }}
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}
</form>